<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>historical</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">historical</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-searchbar [(ngModel)]="searchQuery" (ionChange)="filterItems()"></ion-searchbar>


  <ion-grid>
    <ion-row *ngFor="let item of filteredItems" (click)="openDetails(item.id)">
      <ion-col>{{ item.name }}</ion-col>
      <ion-col>{{ item.dni }}</ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
