<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Marquez
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Marquez</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button routerLink="/rent">Cargar alquiler</ion-button>
  <ion-button routerLink="/weekly">Planilla Semanal</ion-button>
  <ion-button routerLink="/historical">Historico</ion-button>

</ion-content>
